node_modules/
dist/
build/
coverage/
.DS_Store
*.log
.env*
!.env.example
src-tauri/target/
src-tauri/gen/


# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Dependencies / Repos

bun.lockb
.output/
.vercel/
.turbo/

# Repositories
openchamber/
